.woocommerce .form .login {
  label {
    font-size: 1.4rem;
  }
  textarea {
    resize: none !important;
    padding-top: 0.6rem;
    height: 6rem !important;
  }
  input,
  select,
  textarea {
    font-size: 1.2rem;
    padding-left: 1rem;
    height: 3.6rem;
    border-radius: 0.6rem;
    border: 1px solid #c5c5c5;
    outline: 0;
    font-family: "Poppins", sans-serif;

    &::placeholder {
      color: #8b8b8b;
      font-family: "Poppins", sans-serif;
    }
    &:focus {
      border: 1px solid #ff928a;
    }
  }
}
