.btn,
.wc-backward,
.woocommerce button.button,
.woocommerce a.button,
.alt {
  color: #ffffff !important;
  background-color: #ff928a !important;
  display: inline-flex;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 0.3rem;
  border: unset;
  cursor: pointer;
  text-decoration: none;
  padding: 0.8rem 1.6rem !important;
  letter-spacing: 0.02rem;
  font-weight: 600;
  font-size: 1.2rem !important;
  &:hover {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #62c2d0 !important;
    transition: 0.3s;
  }
  &.--seeMore {
    width: 10rem;
    font-size: 1.1rem;
  }
  &.--products {
    font-size: 1.3rem;
    width: 20rem;
    margin-top: 1rem;
  }
  &.--cta {
    width: fit-content;
    font-size: 1.3rem;
    margin-top: 4rem;
  }
  &.--swiper {
    font-size: 1.6rem;
    padding: 1rem 2rem;
  }
}
@media screen and (max-width: 768px) {
  .btn {
    &.--products {
      width: 100%;
      box-sizing: border-box;
    }
  }
}
@media screen and (max-width: 475px) {
  .btn {
    &.--cta {
      margin-top: 2rem;
    }
  }
}
