.woocommerce {
  .woocommerce-notice,
  .woocommerce-info {
    font-size: 1.2rem;
  }
  .woocommerce-checkout #payment ul.payment_methods li {
    line-height: 150%;
  }
  form {
    .form-row {
      margin: 0 0 1rem !important;
    }
  }

  .showcoupon {
    color: #ff928a;
  }
  .woocommerce-checkout,
  .woocommerce-form-coupon {
    .woocommerce-billing-fields__field-wrapper,
    .woocommerce-additional-fields__field-wrapper,
    #order_review {
      padding: 1.5rem 0;
    }

    h3 {
      font-size: 2rem;
      margin-top: 1rem;
    }
    .select2-container--default .select2-selection--single {
      border: 1px solid #c5c5c5;
    }
    .form-row {
      margin: 0 0 1.5rem;
    }
    label {
      font-size: 1.4rem;
    }
    textarea {
      resize: none !important;
      padding-top: 0.6rem;
      height: 6rem !important;
    }
    input,
    select,
    textarea {
      font-size: 1.2rem;
      padding-left: 1rem;
      height: 3.6rem;
      border-radius: 0.6rem;
      border: 1px solid #c5c5c5;
      outline: 0;
      font-family: "Poppins", sans-serif;

      &::placeholder {
        color: #8b8b8b;
        font-family: "Poppins", sans-serif;
      }
      &:focus {
        border: 1px solid #ff928a;
      }
    }

    .select2-container {
      .select2-selection--single {
        height: 3.6rem;
        padding-top: 0.3rem;
      }
    }
    .select2-container,
    p {
      font-size: 1.2rem;
    }
    .select2-selection__arrow {
      b {
        margin-top: 1px !important;
        border-color: #ff928a transparent transparent transparent !important;
      }
    }
  }
  .woocommerce-info {
    border-top-color: #ff928a;
    &::before {
      color: #ff928a;
    }
  }
  form {
    th {
      font-size: 1.6rem;
      background-color: #ff928a;
      color: #ffffff;
    }
  }

  tbody {
    td,
    th {
      font-size: 1.6rem;
    }
    #coupon_code {
      width: 16rem;
      height: 3rem;
      appearance: unset;
      padding-left: 1rem;
      border: 1px solid #171717;
    }
    a {
      color: #171717;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .woocommerce-remove-coupon,
  .woocommerce-privacy-policy-link {
    color: #ff928a;
  }
  .woocommerce-remove-coupon {
    margin-left: 0.2rem;
  }

  .woocommerce-privacy-policy-text {
    p {
      font-size: 1.2rem;
    }
  }
  #place_order {
    margin-top: 1rem !important;
  }

  .woocommerce table.shop_table tfoot td,
  .woocommerce-Price-amount {
    font-size: 1.4rem !important;
  }
}
.woocommerce-EditAccountForm {
  fieldset {
    margin: 2rem 0;
  }
}
.woocommerce,
.wocommerce-page {
  img {
    height: auto;
    max-width: 50% !important;
  }
}
.woocommerce-Address-title {
  background-color: unset;
}
.woocommerce .col2-set {
  margin-top: 1rem;
}
.woocommerce-MyAccount-navigation {
  ul {
    list-style-type: none;
    padding: unset;
  }
  a {
    color: #ff928a;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.6rem;
    &:hover {
      text-decoration: underline;
    }
  }
}
.woocommerce-MyAccount-content {
  font-size: 1.2rem;
  margin-top: 3rem;
  a {
    font-weight: 600;
    color: #ff928a;
  }
}
.woocommerce form .form-row {
  input.input-text {
    font-size: 1.2rem;
    padding-left: 1rem;
    height: 3.6rem;
    border-radius: 0.6rem;
    border: 1px solid #c5c5c5;
    outline: 0;
    font-family: "Poppins", sans-serif;
  }
  label {
    font-size: 1.4rem;
  }
  .show-password-input {
    top: 0.6rem;
    color: #ff928a;
    font-size: 1.7rem;
  }
}
.woocommerce-LostPassword {
  a {
    color: #ff928a;
  }
}
@media screen and (max-width: 768px) {
  .woocommerce-Price-amount {
    font-size: 1.4rem;
  }
  .woocommerce {
    tbody {
      .coupon {
        display: flex;
        gap: 2rem;
        justify-content: flex-end;
      }

      #coupon_code {
        height: 3.5rem;
      }
    }
    tbody td,
    tbody th {
      font-size: 1.4rem;
    }
  }
  @media screen and (max-width: 475px) {
    table .cart td .actions .coupon .button {
      width: 1.6rem !important;
    }
    .section-index {
      .shop_table {
        width: 100%;
      }
      .container {
        padding-left: 2rem;
        padding-right: 2rem;
      }
      .woocommerce form .form-row-last,
      .woocommerce form .form-row-first {
        width: 100%;
      }
      .woocommerce form .form-row {
        padding: unset;
      }
    }
    .woocommerce {
      form {
        th {
          font-size: 1.4rem;
        }
      }
      tbody {
        .coupon {
          button {
            width: 1.6rem;
          }

          gap: 1rem;
          flex-direction: column;
        }
      }
      tbody {
        td,
        th {
          font-size: 1.4rem;
        }
      }
    }
  }
}
