footer {
  p {
    font-size: 1.6rem;
  }
  width: 100%;
  flex-direction: column;
  height: 10rem;
  color: #fff;
  display: flex;
  align-items: center;
  .row-1 {
    width: 100%;
    padding: 5rem 0;
    background-color: #e9e9e9;
  }
  h3 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #ff928a;
    font-weight: 600;
  }
  nav {
    flex-wrap: wrap;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
  }
  ul {
    padding: unset;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style-type: none;
  }
  a {
    &:hover {
      text-decoration: underline;
      transition: 0.3s;
    }
  }

  .ul-pagamento,
  .ul-envio {
    display: flex;
    div {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 1rem;
    }
    img {
      max-width: 4rem;
    }
  }
  a {
    color: #ff928a;
    font-size: 1.6rem;
    text-decoration: none;
  }
  .ul-contato {
    li {
      height: 2.5rem;
    }
    a {
      display: flex;
      gap: 1rem;
      align-items: center;
      img {
        max-width: 2rem;
      }
    }
  }
}

.copyright-footer {
  width: 100%;
  background-color: #f9c5c5;
  display: flex;
  padding: 3rem 0;
  p {
    font-size: 1.4rem;
    text-shadow: 0px 1px 1px rgba(255, 114, 98, 0.4);
  }
}
.kbr-footer {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  footer {
    a {
      word-break: break-all;
    }
  }
}
@media screen and (max-width: 768px) {
  footer {
    p {
      font-size: 1.5rem;
    }
    nav {
      flex-direction: column;
      align-items: center;
      gap: 3rem;
      text-align: center;
    }
    .copyright-footer {
      text-align: center;
    }
    .ul-envio,
    .ul-pagamento {
      div {
        justify-content: center;
      }
    }
    .ul-contato {
      a {
        justify-content: center;
      }
    }
  }
}
