header {
  padding: 2rem 0;
  ul {
    padding: unset;
  }
  .a-logo {
    max-width: 14rem;
  }
  .logo-company {
    width: 100%;
    &:hover {
      transform: scale(1.1);
      transition: 0.4s;
    }
  }
  .container {
    display: flex;
    gap: 3rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  align-items: center;
  display: flex;
  background-color: #f9c5c5;
  justify-content: space-between;
  .hidden {
    display: none;
  }
  .search {
    width: 45%;
  }
  form {
    width: 100%;
    display: flex;
    align-items: center;
  }

  #s {
    width: 100%;
    &::placeholder {
      color: #ff928a;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    }
  }
  #searchbutton {
    height: 3rem;
    cursor: pointer;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    position: relative;
    left: -32px;
    img {
      max-width: 2rem;
      &:hover {
        filter: invert(1) brightness(1.5);
        transition: 0.2s;
      }
    }
  }
  input {
    border-radius: 0.6rem;
    height: 4rem;
    border: unset;
    outline: 0;
    padding-left: 1rem;
    &:focus {
      outline: 2px solid #ff928a;
    }
  }

  nav {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    p {
      text-shadow: 0px 2px 3px rgba(255, 114, 98, 0.2);
      &:hover {
        color: #ff928a;
        transition: 0.2s;
        text-shadow: 0px 3px 3px rgba(237, 246, 255, 0.7);
      }
    }
    a {
      display: flex;
      align-items: center;
      gap: 1rem;
      height: 100%;

      img {
        width: 3rem;
      }
      .carrinho-count {
        padding: 0.07rem 0.7rem;
        border-radius: 50%;
        background-color: #bee7f8;
        position: relative;
        font-size: 1.4rem;
        top: -15px;
        left: -108px;
        &:hover {
          background-color: #ff928a;
          transition: 0.3s;
        }
      }
    }
    a,
    ul {
      font-size: 1.6rem;
      text-decoration: none;
      color: rgb(255, 255, 255);
    }
    ul {
      display: flex;
      gap: 2rem;
      list-style-type: none;
    }
  }
}

.menu-categorias ul ul {
  display: none;
  position: absolute;
  top: 2rem;
  background-color: #d5edf7;
  left: 0;
  width: 110px;
  z-index: 99999;
  // box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.menu-categorias {
  background-color: #d5edf7;
  padding: 2rem 0;

  .menu-categorias {
    display: flex;
    ul {
      display: flex;

      gap: 3rem;
      padding-left: unset;
    }
    a {
      color: #ff928a;
      font-size: 1.4rem;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .menu-categorias ul li:hover > ul {
    display: block;
    padding: 1rem 0.5rem;
    li {
      box-sizing: border-box;
      padding: 0.5rem 1rem;
    }
  }

  .menu-categorias li {
    position: relative;
  }

  .header-top {
    display: none;
  }
  /*media queries*/
  #btn-mobile {
    display: none;
  }

  @media screen and (max-width: 1000px) {
    .menu-categorias {
      overflow-x: scroll;
    }
    #menu-categorias {
      gap: 2rem;
    }
    header {
      nav {
        padding: unset;
        justify-content: flex-end;
      }

      .menu-list {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        top: 10rem;
        position: absolute;
        right: 0;
        background-color: #f9c5c5;
        transition: 0.5s;
        z-index: 1000;
        height: 0;
        visibility: hidden;
        overflow-y: hidden;
      }

      .menu-list a {
        padding: 1rem 0;
        // margin: 0 1rem;
      }

      #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        background: none;
        border: none;
        cursor: pointer;
        gap: 1.5rem;
      }

      #hamburguer {
        border-top: 2px solid #fff;
        width: 30px;
      }

      #hamburguer::before,
      #hamburguer::after {
        content: "";
        display: block;
        position: relative;
        width: 30px;
        height: 2px;
        margin-top: 5px;
        border-top: 5px;
        background-color: #fff;
        transition: 0.5s ease;
      }

      .nav-account.active #hamburguer {
        border-top: transparent;
      }

      .nav-account.active #hamburguer::before {
        transform: rotate(135deg);
      }

      .nav-account.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
      }
    }
  }

  .menu-categorias {
    display: flex;
    ul {
      display: flex;
    }
  }

  .menu-categorias {
    display: flex;
    ul {
      display: flex;
    }
  }

  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
      .menu-list {
        top: 16rem;
      }
      .container {
        width: 90%;
        padding-left: 2rem;
        padding-right: 2rem;
      }
      .search {
        width: 100%;
      }
      .a-logo {
        img {
          width: 16rem;
        }
        &.--main {
          display: none;
        }
      }
    }
    .header-top {
      display: block;
      padding-bottom: 2rem;
    }
  }

  @media screen and (max-width: 420px) {
    header {
      flex-direction: column;
      .container {
        width: 90%;
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 1rem;
      }
      .a-logo {
        img {
          width: 14rem;
        }
      }
      nav {
        ul {
          gap: 2rem;
        }
      }
      .nav-account.active .menu-list {
        height: 12rem;
        visibility: visible;
        overflow-y: auto;
      }
      .menu-list {
        a {
          padding: unset;
        }
      }
    }
  }
}
