.section-hero {
  background-color: #d5edf7;
  height: 40rem;
  .swiper-slide {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
  }
  .swiper-slide::after {
    content: "";
    left: 0;
    background-color: rgba(0, 0, 0, 0.185);
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .swiper-slide-1 {
    background-image: url("../img/slide-1.jpg");
  }
  .swiper-slide-2 {
    background-image: url("../img/slide-2.jpg");
  }
  .container {
    height: 100%;
  }
  .banner-content {
    z-index: 1;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10rem;
    gap: 2rem;
    flex-direction: column;
    p {
      font-size: 2rem;
    }
  }
  h1 {
    text-shadow: 4px 4px 0px rgba(255, 114, 98, 0.84);
    font-size: 6rem;
    color: white;
    text-align: center;
  }
}
.section-benefits {
  padding: 8rem 0;
  .row {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
  }
  .bar-benefits {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    p {
      font-size: 1.4rem;
    }
    p:first-of-type {
      font-weight: 700;
    }
  }
}
.section-name {
  .row {
    display: flex;
    gap: 3rem;
  }
  .card {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 36rem;
    width: 100%;
    align-items: center;
    border-radius: 0.6rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-image: cover;
    background-position-x: center;
    background-repeat: no-repeat;
  }
  .card::after {
    background-color: #1717177e;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }
  .card-1 {
    background-position-x: left;
    background-image: url("../img/products-home-1.jpg");
  }
  .card-2 {
    background-image: url("../img/products-home-2.jpg");
  }
  .card-3 {
    background-image: url("../img/products-home-3.jpg");
  }
  .card-content {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #ffffff;
    align-items: center;
  }
  h3 {
    font-size: 3rem;
    max-width: 20rem;
    line-height: 120%;
    text-shadow: 3px 3px 0px rgba(255, 114, 98, 0.84);
  }
  p {
    font-size: 1.4rem;
  }
}

.section-cta {
  padding: 4rem 0;
  .cta-wraper {
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }
  .row {
    display: flex;
    height: 40rem;
    gap: 4rem;
  }
  h3 {
    font-size: 3rem;
    text-transform: uppercase;
  }
  p {
    font-size: 1.6rem;
    margin-top: 1rem;
  }
  .cta-photo {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.6rem;
  }
  .cta-photo-1 {
    background-image: url("../img/products-home-4.jpg");
  }
  .cta-photo-2 {
    background-image: url("../img/products-home-5.jpg");
  }

  .cta-photo,
  .cta-content {
    width: 50%;
  }
  .cta-content {
    display: flex;
    padding: 5rem;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
  }
  .cta-photo {
    background-color: #171717;
  }
}
.section-insta {
  .row {
    display: flex;
    background-color: #d5edf7;
    height: 8rem;

    align-items: center;
    padding: 3rem 0;
    justify-content: center;
    gap: 1rem;
  }
  .content-insta {
    flex-direction: column;
  }
  img {
    height: 65%;
  }
  p {
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  h3 {
    margin-top: -0.5rem;
    font-size: 2.4rem;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1000px) {
  .section-benefits {
    .bar-benefits {
      flex-direction: column;
      text-align: center;
      gap: 0.5rem;
    }
  }
  .section-name {
    .row {
      flex-wrap: wrap;
      gap: 3rem;
      justify-content: center;
    }
    .card {
      width: 65%;
    }
  }
  .section-cta {
    .row {
      gap: 2rem;
    }
    .cta-content {
      padding: 3rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .section-benefits {
    padding: 6rem 0;
    .row {
      gap: 3rem;
      flex-direction: column;
      align-items: center;
    }
    .bar-benefits {
      flex-direction: column;
      text-align: center;
      gap: 0.5rem;
    }
  }
  .section-hero {
    .banner-content {
      align-items: center;
      padding-left: unset;
      h1 {
        font-size: 4rem;
      }
    }
  }
  .section-name {
    .card {
      width: 80%;
    }
    .card-content {
      padding: 4rem;
    }
    h3 {
      line-height: 4rem;
    }
  }
  .section-cta {
    padding: 4rem 0;
    .row {
      flex-direction: column;
      gap: unset;
      height: unset;
    }
    .row-2 {
      flex-direction: column-reverse;
    }
    h3 {
      font-size: 3rem;
      text-transform: uppercase;
    }
    p {
      font-size: 1.6rem;
      margin-top: 1rem;
    }

    .cta-photo,
    .cta-content {
      width: 100%;
    }
    .cta-photo {
      height: 40rem;
    }
    .cta-content {
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      justify-content: center;
    }
    .cta-photo {
      background-color: #171717;
    }
  }
}
@media screen and (max-width: 475px) {
  .section-benefits {
    padding: 4rem 0;
    .bar-benefits {
      max-width: 24rem;
    }
  }
  .section-hero {
    .banner-content {
      gap: 3rem;
      h1 {
        max-width: 26rem;
      }
    }
  }
  .section-name {
    .card {
      width: 100%;
      height: 100%;
    }
    .card-content {
      padding: 5rem 4rem;
    }
  }
  .section-cta {
    padding: 0 0 4rem 0;
    .row {
      gap: 2rem;
    }
    .cta-photo {
      height: 20rem;
    }
    .cta-content {
      padding: unset;
    }
    p {
      font-size: 1.4rem;
    }
    h3 {
      font-size: 2rem;
    }
  }
  .section-insta {
    img {
      width: 4rem;
    }
    h3 {
      font-size: 2rem;
    }
  }
}
