.main-archive-product {
  padding: 5rem 0;
}
.section-products,
.section-products-related {
  padding: 5rem 0;
  .products-content {
    margin-top: 4rem;
    display: flex;
    &.--home {
      flex-direction: column;
      align-items: center;
      .row {
        padding: 5rem 0;
      }
    }
  }
  .products-teste-form {
    display: flex;
    margin-bottom: 3rem;
    .orderby {
      font-size: 1.2rem;
      padding: 0 1rem;
      height: 3.6rem;
      border-radius: 0.6rem;
      border: 1px solid #c5c5c5;
      outline: 0;
      font-family: "Poppins", sans-serif;
      &::placeholder {
        color: #8b8b8b;
        font-family: "Poppins", sans-serif;
      }
      &:focus {
        border: 1px solid #ff928a;
      }
    }
  }
  .products-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title-section {
    font-size: 2.4rem;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 1rem 1rem;
    text-transform: uppercase;
    background-color: #d5edf7;
  }
  p {
    max-width: 80rem;
    margin-top: 2rem;
    font-size: 1.6rem;
    text-align: center;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 3rem;
    row-gap: 8rem;
    width: 100%;
    a {
      height: 100%;
      display: flex;
      text-decoration: none;
      justify-content: space-between;
      color: #171717;
      align-items: center;
      gap: 1rem;
      flex-direction: column;
    }
  }
  .card-product {
    .img-product {
      gap: 1rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      img {
        border-radius: 0.6rem;
      }
    }
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .card-content-product {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
    }
    p {
      margin-top: unset;
      text-align: center;
    }
    img {
      max-width: 25rem;
    }
    h3 {
      text-align: center;
      font-size: 1.4rem;
      max-width: 22.5rem;
    }
  }
}
.woocommerce-variation-availability {
  display: none;
}
.woocommerce-variation-add-to-cart {
  .input-text {
    height: 3.4rem;
    border-radius: 0.6rem;
    border: 1px solid #c5c5c5;
    outline: 0;
    padding-left: 1rem;
    width: 4rem;
    font-family: "Poppins", sans-serif;
    &:focus {
      border: 1px solid #ff928a;
    }
  }
}
.variations {
  td {
    font-size: 1.4rem;
  }
  .reset_variations {
    margin-left: 1rem;
    color: #ff928a;
  }

  #pa_cor,
  #pa_modelo {
    font-size: 1.2rem;
    padding: 0 1rem;
    height: 3.6rem;
    border-radius: 0.6rem;
    border: 1px solid #c5c5c5;
    outline: 0;
    font-family: "Poppins", sans-serif;
    &::placeholder {
      color: #8b8b8b;
      font-family: "Poppins", sans-serif;
    }
    &:focus {
      border: 1px solid #ff928a;
    }
  }
}
.filter {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .title-filter {
    font-size: 2.2rem;
  }
  .widgettitle {
    margin-bottom: 1rem;
  }
  .widget_layered_nav {
    margin-bottom: 2rem;
  }
  ul {
    list-style-type: none;
  }
  a {
    line-height: 180%;
    text-transform: capitalize;
    text-decoration: none;
    color: #171717;
    font-size: 1.4rem;
    &:hover {
      text-decoration: underline;
    }
  }
  #menu-categorias-internas {
    padding: unset;
  }
  .sub-menu {
    padding-left: 1.5rem;
  }
}
@media screen and (max-width: 800px) {
  .section-products {
    .row {
      justify-content: center;
    }
    .products-intro {
      margin-bottom: 3rem;
    }
    .products-content {
      flex-direction: column-reverse;
      gap: 4rem;
      align-items: left;
    }
  }
  .section-products,
  .section-products-related {
    .products-content {
      margin-top: unset;
    }
    .title-section {
      font-size: 2rem;
    }
    p {
      font-size: 1.4rem;
    }
  }
}
@media screen and (max-width: 475px) {
  .section-products,
  .section-products-related {
    .products-content {
      gap: unset;
      &.--home {
        .row {
          padding: 2rem 0;
        }
      }
    }
    p {
      margin-top: 2rem;
    }
    .row {
      row-gap: 5rem;
    }
  }
}
