.main-single-product {
  padding: 5rem 0;
  h1 {
    font-size: 2.6rem;
    line-height: 120%;
    text-transform: uppercase;
    font-weight: 300;
  }
  p {
    font-size: 1.6rem;
    text-align: left;
  }
  .product-price {
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: 600;
  }
  h2 {
    text-transform: uppercase;
  }
  strong {
    font-size: 1.8rem;
  }
  ul {
    font-size: 1.6rem;
    padding-left: 3rem;
  }
}
.section-products-related {
  h2 {
    font-size: 2.4rem;
    text-align: center;
  }
}
.product-detail {
  p,
  strong {
    margin: unset;
    font-size: 1.4rem;
  }

  display: flex;
  flex-direction: column;
  gap: 1rem;
  button {
    margin-top: 1rem;
  }
  h2 {
    font-size: 1.6rem;
    margin-top: 3rem;
  }
  .quantity {
    display: none;
  }
  .cart {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
.product-gallery {
  display: flex;
  gap: 2rem;
  .image-product-gallery-list {
    width: 15rem;
    height: 18rem;
  }
  .product-gallery-list {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
}
.produto-gallery-main {
  width: 50rem;
  img {
    width: 100%;
  }
}
.product-wraper {
  gap: 3rem;
  display: flex;
}
@media screen and (max-width: 1000px) {
  .product-gallery {
    flex-direction: column;
    align-items: center;
    .product-gallery-list {
      flex-direction: row;
      column-gap: 2rem;
    }
  }

  .product-wraper {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .main-single-product {
    .section-products-related {
      padding: unset;
      .row {
        justify-content: center;
      }
    }
    h1 {
      font-size: 2.8rem;
    }
    h2 {
      font-size: 2rem;
    }
  }
  .container {
    padding-left: unset;
    padding-right: unset;
  }
  .produto-gallery-main {
    width: 100%;
  }
  .product-gallery-list {
    width: 100%;
  }
  .image-product-gallery-list:last-of-type {
    display: none;
  }
  .product-gallery {
    .image-product-gallery-list {
      width: 100%;
      height: 14rem;
    }
  }
}
