.section-hero {
  background-color: #d5edf7;
  height: 40rem;
}

.section-hero .swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.section-hero .swiper-slide::after {
  content: "";
  left: 0;
  background-color: rgba(0, 0, 0, 0.185);
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.section-hero .swiper-slide-1 {
  background-image: url("../img/slide-1.jpg");
}

.section-hero .swiper-slide-2 {
  background-image: url("../img/slide-2.jpg");
}

.section-hero .container {
  height: 100%;
}

.section-hero .banner-content {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 10rem;
  gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-hero .banner-content p {
  font-size: 2rem;
}

.section-hero h1 {
  text-shadow: 4px 4px 0px rgba(255, 114, 98, 0.84);
  font-size: 6rem;
  color: white;
  text-align: center;
}

.section-benefits {
  padding: 8rem 0;
}

.section-benefits .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-benefits .bar-benefits {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.section-benefits .bar-benefits p {
  font-size: 1.4rem;
}

.section-benefits .bar-benefits p:first-of-type {
  font-weight: 700;
}

.section-name .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

.section-name .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 36rem;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.6rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-image: cover;
  background-position-x: center;
  background-repeat: no-repeat;
}

.section-name .card::after {
  background-color: #1717177e;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.section-name .card-1 {
  background-position-x: left;
  background-image: url("../img/products-home-1.jpg");
}

.section-name .card-2 {
  background-image: url("../img/products-home-2.jpg");
}

.section-name .card-3 {
  background-image: url("../img/products-home-3.jpg");
}

.section-name .card-content {
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-name h3 {
  font-size: 3rem;
  max-width: 20rem;
  line-height: 120%;
  text-shadow: 3px 3px 0px rgba(255, 114, 98, 0.84);
}

.section-name p {
  font-size: 1.4rem;
}

.section-cta {
  padding: 4rem 0;
}

.section-cta .cta-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6rem;
}

.section-cta .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40rem;
  gap: 4rem;
}

.section-cta h3 {
  font-size: 3rem;
  text-transform: uppercase;
}

.section-cta p {
  font-size: 1.6rem;
  margin-top: 1rem;
}

.section-cta .cta-photo {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.6rem;
}

.section-cta .cta-photo-1 {
  background-image: url("../img/products-home-4.jpg");
}

.section-cta .cta-photo-2 {
  background-image: url("../img/products-home-5.jpg");
}

.section-cta .cta-photo,
.section-cta .cta-content {
  width: 50%;
}

.section-cta .cta-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-cta .cta-photo {
  background-color: #171717;
}

.section-insta .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #d5edf7;
  height: 8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.section-insta .content-insta {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-insta img {
  height: 65%;
}

.section-insta p {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.section-insta h3 {
  margin-top: -0.5rem;
  font-size: 2.4rem;
  text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
  .section-benefits .bar-benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 0.5rem;
  }
  .section-name .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-name .card {
    width: 65%;
  }
  .section-cta .row {
    gap: 2rem;
  }
  .section-cta .cta-content {
    padding: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .section-benefits {
    padding: 6rem 0;
  }
  .section-benefits .row {
    gap: 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-benefits .bar-benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 0.5rem;
  }
  .section-hero .banner-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: unset;
  }
  .section-hero .banner-content h1 {
    font-size: 4rem;
  }
  .section-name .card {
    width: 80%;
  }
  .section-name .card-content {
    padding: 4rem;
  }
  .section-name h3 {
    line-height: 4rem;
  }
  .section-cta {
    padding: 4rem 0;
  }
  .section-cta .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: unset;
    height: unset;
  }
  .section-cta .row-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .section-cta h3 {
    font-size: 3rem;
    text-transform: uppercase;
  }
  .section-cta p {
    font-size: 1.6rem;
    margin-top: 1rem;
  }
  .section-cta .cta-photo,
  .section-cta .cta-content {
    width: 100%;
  }
  .section-cta .cta-photo {
    height: 40rem;
  }
  .section-cta .cta-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-cta .cta-photo {
    background-color: #171717;
  }
}

@media screen and (max-width: 475px) {
  .section-benefits {
    padding: 4rem 0;
  }
  .section-benefits .bar-benefits {
    max-width: 24rem;
  }
  .section-hero .banner-content {
    gap: 3rem;
  }
  .section-hero .banner-content h1 {
    max-width: 26rem;
  }
  .section-name .card {
    width: 100%;
    height: 100%;
  }
  .section-name .card-content {
    padding: 5rem 4rem;
  }
  .section-cta {
    padding: 0 0 4rem 0;
  }
  .section-cta .row {
    gap: 2rem;
  }
  .section-cta .cta-photo {
    height: 20rem;
  }
  .section-cta .cta-content {
    padding: unset;
  }
  .section-cta p {
    font-size: 1.4rem;
  }
  .section-cta h3 {
    font-size: 2rem;
  }
  .section-insta img {
    width: 4rem;
  }
  .section-insta h3 {
    font-size: 2rem;
  }
}

header {
  padding: 2rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f9c5c5;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header ul {
  padding: unset;
}

header .a-logo {
  max-width: 14rem;
}

header .logo-company {
  width: 100%;
}

header .logo-company:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .hidden {
  display: none;
}

header .search {
  width: 45%;
}

header form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #s {
  width: 100%;
}

header #s::-webkit-input-placeholder {
  color: #ff928a;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header #s:-ms-input-placeholder {
  color: #ff928a;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header #s::-ms-input-placeholder {
  color: #ff928a;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header #s::placeholder {
  color: #ff928a;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header #searchbutton {
  height: 3rem;
  cursor: pointer;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  position: relative;
  left: -32px;
}

header #searchbutton img {
  max-width: 2rem;
}

header #searchbutton img:hover {
  -webkit-filter: invert(1) brightness(1.5);
          filter: invert(1) brightness(1.5);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header input {
  border-radius: 0.6rem;
  height: 4rem;
  border: unset;
  outline: 0;
  padding-left: 1rem;
}

header input:focus {
  outline: 2px solid #ff928a;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav p {
  text-shadow: 0px 2px 3px rgba(255, 114, 98, 0.2);
}

header nav p:hover {
  color: #ff928a;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-shadow: 0px 3px 3px rgba(237, 246, 255, 0.7);
}

header nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  height: 100%;
}

header nav a img {
  width: 3rem;
}

header nav a .carrinho-count {
  padding: 0.07rem 0.7rem;
  border-radius: 50%;
  background-color: #bee7f8;
  position: relative;
  font-size: 1.4rem;
  top: -15px;
  left: -108px;
}

header nav a .carrinho-count:hover {
  background-color: #ff928a;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header nav a,
header nav ul {
  font-size: 1.6rem;
  text-decoration: none;
  color: white;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

.menu-categorias ul ul {
  display: none;
  position: absolute;
  top: 2rem;
  background-color: #d5edf7;
  left: 0;
  width: 110px;
  z-index: 99999;
}

.menu-categorias {
  background-color: #d5edf7;
  padding: 2rem 0;
  /*media queries*/
}

.menu-categorias .menu-categorias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-categorias .menu-categorias ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  padding-left: unset;
}

.menu-categorias .menu-categorias a {
  color: #ff928a;
  font-size: 1.4rem;
  text-decoration: none;
}

.menu-categorias .menu-categorias a:hover {
  text-decoration: underline;
}

.menu-categorias .menu-categorias ul li:hover > ul {
  display: block;
  padding: 1rem 0.5rem;
}

.menu-categorias .menu-categorias ul li:hover > ul li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5rem 1rem;
}

.menu-categorias .menu-categorias li {
  position: relative;
}

.menu-categorias .header-top {
  display: none;
}

.menu-categorias #btn-mobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  .menu-categorias .menu-categorias {
    overflow-x: scroll;
  }
  .menu-categorias #menu-categorias {
    gap: 2rem;
  }
  .menu-categorias header nav {
    padding: unset;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .menu-categorias header .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    top: 10rem;
    position: absolute;
    right: 0;
    background-color: #f9c5c5;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 1000;
    height: 0;
    visibility: hidden;
    overflow-y: hidden;
  }
  .menu-categorias header .menu-list a {
    padding: 1rem 0;
  }
  .menu-categorias header #btn-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    gap: 1.5rem;
  }
  .menu-categorias header #hamburguer {
    border-top: 2px solid #fff;
    width: 30px;
  }
  .menu-categorias header #hamburguer::before,
  .menu-categorias header #hamburguer::after {
    content: "";
    display: block;
    position: relative;
    width: 30px;
    height: 2px;
    margin-top: 5px;
    border-top: 5px;
    background-color: #fff;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .menu-categorias header .nav-account.active #hamburguer {
    border-top: transparent;
  }
  .menu-categorias header .nav-account.active #hamburguer::before {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  .menu-categorias header .nav-account.active #hamburguer::after {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    top: -7px;
  }
}

.menu-categorias .menu-categorias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-categorias .menu-categorias ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-categorias .menu-categorias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-categorias .menu-categorias ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .menu-categorias header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-categorias header .menu-list {
    top: 16rem;
  }
  .menu-categorias header .container {
    width: 90%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .menu-categorias header .search {
    width: 100%;
  }
  .menu-categorias header .a-logo img {
    width: 16rem;
  }
  .menu-categorias header .a-logo.--main {
    display: none;
  }
  .menu-categorias .header-top {
    display: block;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 420px) {
  .menu-categorias header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-categorias header .container {
    width: 90%;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
  }
  .menu-categorias header .a-logo img {
    width: 14rem;
  }
  .menu-categorias header nav ul {
    gap: 2rem;
  }
  .menu-categorias header .nav-account.active .menu-list {
    height: 12rem;
    visibility: visible;
    overflow-y: auto;
  }
  .menu-categorias header .menu-list a {
    padding: unset;
  }
}

footer {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 10rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  font-size: 1.6rem;
}

footer .row-1 {
  width: 100%;
  padding: 5rem 0;
  background-color: #e9e9e9;
}

footer h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #ff928a;
  font-weight: 600;
}

footer nav {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer ul {
  padding: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  list-style-type: none;
}

footer a:hover {
  text-decoration: underline;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .ul-pagamento,
footer .ul-envio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .ul-pagamento div,
footer .ul-envio div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}

footer .ul-pagamento img,
footer .ul-envio img {
  max-width: 4rem;
}

footer a {
  color: #ff928a;
  font-size: 1.6rem;
  text-decoration: none;
}

footer .ul-contato li {
  height: 2.5rem;
}

footer .ul-contato a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .ul-contato a img {
  max-width: 2rem;
}

.copyright-footer {
  width: 100%;
  background-color: #f9c5c5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 0;
}

.copyright-footer p {
  font-size: 1.4rem;
  text-shadow: 0px 1px 1px rgba(255, 114, 98, 0.4);
}

.kbr-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1000px) {
  footer a {
    word-break: break-all;
  }
}

@media screen and (max-width: 768px) {
  footer p {
    font-size: 1.5rem;
  }
  footer nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3rem;
    text-align: center;
  }
  footer .copyright-footer {
    text-align: center;
  }
  footer .ul-envio div,
  footer .ul-pagamento div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .ul-contato a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.btn,
.wc-backward,
.woocommerce button.button,
.woocommerce a.button,
.alt {
  color: #ffffff !important;
  background-color: #ff928a !important;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  border-radius: 0.3rem;
  border: unset;
  cursor: pointer;
  text-decoration: none;
  padding: 0.8rem 1.6rem !important;
  letter-spacing: 0.02rem;
  font-weight: 600;
  font-size: 1.2rem !important;
}

.btn:hover,
.wc-backward:hover,
.woocommerce button.button:hover,
.woocommerce a.button:hover,
.alt:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #62c2d0 !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn.--seeMore,
.wc-backward.--seeMore,
.woocommerce button.button.--seeMore,
.woocommerce a.button.--seeMore,
.alt.--seeMore {
  width: 10rem;
  font-size: 1.1rem;
}

.btn.--products,
.wc-backward.--products,
.woocommerce button.button.--products,
.woocommerce a.button.--products,
.alt.--products {
  font-size: 1.3rem;
  width: 20rem;
  margin-top: 1rem;
}

.btn.--cta,
.wc-backward.--cta,
.woocommerce button.button.--cta,
.woocommerce a.button.--cta,
.alt.--cta {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.3rem;
  margin-top: 4rem;
}

.btn.--swiper,
.wc-backward.--swiper,
.woocommerce button.button.--swiper,
.woocommerce a.button.--swiper,
.alt.--swiper {
  font-size: 1.6rem;
  padding: 1rem 2rem;
}

@media screen and (max-width: 768px) {
  .btn.--products {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media screen and (max-width: 475px) {
  .btn.--cta {
    margin-top: 2rem;
  }
}

.main-archive-product {
  padding: 5rem 0;
}

.section-products,
.section-products-related {
  padding: 5rem 0;
}

.section-products .products-content,
.section-products-related .products-content {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-products .products-content.--home,
.section-products-related .products-content.--home {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-products .products-content.--home .row,
.section-products-related .products-content.--home .row {
  padding: 5rem 0;
}

.section-products .products-teste-form,
.section-products-related .products-teste-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
}

.section-products .products-teste-form .orderby,
.section-products-related .products-teste-form .orderby {
  font-size: 1.2rem;
  padding: 0 1rem;
  height: 3.6rem;
  border-radius: 0.6rem;
  border: 1px solid #c5c5c5;
  outline: 0;
  font-family: "Poppins", sans-serif;
}

.section-products .products-teste-form .orderby::-webkit-input-placeholder,
.section-products-related .products-teste-form .orderby::-webkit-input-placeholder {
  color: #8b8b8b;
  font-family: "Poppins", sans-serif;
}

.section-products .products-teste-form .orderby:-ms-input-placeholder,
.section-products-related .products-teste-form .orderby:-ms-input-placeholder {
  color: #8b8b8b;
  font-family: "Poppins", sans-serif;
}

.section-products .products-teste-form .orderby::-ms-input-placeholder,
.section-products-related .products-teste-form .orderby::-ms-input-placeholder {
  color: #8b8b8b;
  font-family: "Poppins", sans-serif;
}

.section-products .products-teste-form .orderby::placeholder,
.section-products-related .products-teste-form .orderby::placeholder {
  color: #8b8b8b;
  font-family: "Poppins", sans-serif;
}

.section-products .products-teste-form .orderby:focus,
.section-products-related .products-teste-form .orderby:focus {
  border: 1px solid #ff928a;
}

.section-products .products-intro,
.section-products-related .products-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-products .title-section,
.section-products-related .title-section {
  font-size: 2.4rem;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  padding: 1rem 1rem;
  text-transform: uppercase;
  background-color: #d5edf7;
}

.section-products p,
.section-products-related p {
  max-width: 80rem;
  margin-top: 2rem;
  font-size: 1.6rem;
  text-align: center;
}

.section-products .row,
.section-products-related .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 8rem;
  width: 100%;
}

.section-products .row a,
.section-products-related .row a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #171717;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-products .card-product,
.section-products-related .card-product {
  gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-products .card-product .img-product,
.section-products-related .card-product .img-product {
  gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-products .card-product .img-product img,
.section-products-related .card-product .img-product img {
  border-radius: 0.6rem;
}

.section-products .card-product .card-content-product,
.section-products-related .card-product .card-content-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-products .card-product p,
.section-products-related .card-product p {
  margin-top: unset;
  text-align: center;
}

.section-products .card-product img,
.section-products-related .card-product img {
  max-width: 25rem;
}

.section-products .card-product h3,
.section-products-related .card-product h3 {
  text-align: center;
  font-size: 1.4rem;
  max-width: 22.5rem;
}

.woocommerce-variation-availability {
  display: none;
}

.woocommerce-variation-add-to-cart .input-text {
  height: 3.4rem;
  border-radius: 0.6rem;
  border: 1px solid #c5c5c5;
  outline: 0;
  padding-left: 1rem;
  width: 4rem;
  font-family: "Poppins", sans-serif;
}

.woocommerce-variation-add-to-cart .input-text:focus {
  border: 1px solid #ff928a;
}

.variations td {
  font-size: 1.4rem;
}

.variations .reset_variations {
  margin-left: 1rem;
  color: #ff928a;
}

.variations #pa_cor,
.variations #pa_modelo {
  font-size: 1.2rem;
  padding: 0 1rem;
  height: 3.6rem;
  border-radius: 0.6rem;
  border: 1px solid #c5c5c5;
  outline: 0;
  font-family: "Poppins", sans-serif;
}

.variations #pa_cor::-webkit-input-placeholder,
.variations #pa_modelo::-webkit-input-placeholder {
  color: #8b8b8b;
  font-family: "Poppins", sans-serif;
}

.variations #pa_cor:-ms-input-placeholder,
.variations #pa_modelo:-ms-input-placeholder {
  color: #8b8b8b;
  font-family: "Poppins", sans-serif;
}

.variations #pa_cor::-ms-input-placeholder,
.variations #pa_modelo::-ms-input-placeholder {
  color: #8b8b8b;
  font-family: "Poppins", sans-serif;
}

.variations #pa_cor::placeholder,
.variations #pa_modelo::placeholder {
  color: #8b8b8b;
  font-family: "Poppins", sans-serif;
}

.variations #pa_cor:focus,
.variations #pa_modelo:focus {
  border: 1px solid #ff928a;
}

.filter {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.filter .title-filter {
  font-size: 2.2rem;
}

.filter .widgettitle {
  margin-bottom: 1rem;
}

.filter .widget_layered_nav {
  margin-bottom: 2rem;
}

.filter ul {
  list-style-type: none;
}

.filter a {
  line-height: 180%;
  text-transform: capitalize;
  text-decoration: none;
  color: #171717;
  font-size: 1.4rem;
}

.filter a:hover {
  text-decoration: underline;
}

.filter #menu-categorias-internas {
  padding: unset;
}

.filter .sub-menu {
  padding-left: 1.5rem;
}

@media screen and (max-width: 800px) {
  .section-products .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-products .products-intro {
    margin-bottom: 3rem;
  }
  .section-products .products-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 4rem;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
  .section-products .products-content,
  .section-products-related .products-content {
    margin-top: unset;
  }
  .section-products .title-section,
  .section-products-related .title-section {
    font-size: 2rem;
  }
  .section-products p,
  .section-products-related p {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 475px) {
  .section-products .products-content,
  .section-products-related .products-content {
    gap: unset;
  }
  .section-products .products-content.--home .row,
  .section-products-related .products-content.--home .row {
    padding: 2rem 0;
  }
  .section-products p,
  .section-products-related p {
    margin-top: 2rem;
  }
  .section-products .row,
  .section-products-related .row {
    row-gap: 5rem;
  }
}

.woocommerce .woocommerce-notice,
.woocommerce .woocommerce-info {
  font-size: 1.2rem;
}

.woocommerce .woocommerce-checkout #payment ul.payment_methods li {
  line-height: 150%;
}

.woocommerce form .form-row {
  margin: 0 0 1rem !important;
}

.woocommerce .showcoupon {
  color: #ff928a;
}

.woocommerce .woocommerce-checkout .woocommerce-billing-fields__field-wrapper,
.woocommerce .woocommerce-checkout .woocommerce-additional-fields__field-wrapper,
.woocommerce .woocommerce-checkout #order_review,
.woocommerce .woocommerce-form-coupon .woocommerce-billing-fields__field-wrapper,
.woocommerce .woocommerce-form-coupon .woocommerce-additional-fields__field-wrapper,
.woocommerce .woocommerce-form-coupon #order_review {
  padding: 1.5rem 0;
}

.woocommerce .woocommerce-checkout h3,
.woocommerce .woocommerce-form-coupon h3 {
  font-size: 2rem;
  margin-top: 1rem;
}

.woocommerce .woocommerce-checkout .select2-container--default .select2-selection--single,
.woocommerce .woocommerce-form-coupon .select2-container--default .select2-selection--single {
  border: 1px solid #c5c5c5;
}

.woocommerce .woocommerce-checkout .form-row,
.woocommerce .woocommerce-form-coupon .form-row {
  margin: 0 0 1.5rem;
}

.woocommerce .woocommerce-checkout label,
.woocommerce .woocommerce-form-coupon label {
  font-size: 1.4rem;
}

.woocommerce .woocommerce-checkout textarea,
.woocommerce .woocommerce-form-coupon textarea {
  resize: none !important;
  padding-top: 0.6rem;
  height: 6rem !important;
}

.woocommerce .woocommerce-checkout input,
.woocommerce .woocommerce-checkout select,
.woocommerce .woocommerce-checkout textarea,
.woocommerce .woocommerce-form-coupon input,
.woocommerce .woocommerce-form-coupon select,
.woocommerce .woocommerce-form-coupon textarea {
  font-size: 1.2rem;
  padding-left: 1rem;
  height: 3.6rem;
  border-radius: 0.6rem;
  border: 1px solid #c5c5c5;
  outline: 0;
  font-family: "Poppins", sans-serif;
}

.woocommerce .woocommerce-checkout input::-webkit-input-placeholder,
.woocommerce .woocommerce-checkout select::-webkit-input-placeholder,
.woocommerce .woocommerce-checkout textarea::-webkit-input-placeholder,
.woocommerce .woocommerce-form-coupon input::-webkit-input-placeholder,
.woocommerce .woocommerce-form-coupon select::-webkit-input-placeholder,
.woocommerce .woocommerce-form-coupon textarea::-webkit-input-placeholder {
  color: #8b8b8b;
  font-family: "Poppins", sans-serif;
}

.woocommerce .woocommerce-checkout input:-ms-input-placeholder,
.woocommerce .woocommerce-checkout select:-ms-input-placeholder,
.woocommerce .woocommerce-checkout textarea:-ms-input-placeholder,
.woocommerce .woocommerce-form-coupon input:-ms-input-placeholder,
.woocommerce .woocommerce-form-coupon select:-ms-input-placeholder,
.woocommerce .woocommerce-form-coupon textarea:-ms-input-placeholder {
  color: #8b8b8b;
  font-family: "Poppins", sans-serif;
}

.woocommerce .woocommerce-checkout input::-ms-input-placeholder,
.woocommerce .woocommerce-checkout select::-ms-input-placeholder,
.woocommerce .woocommerce-checkout textarea::-ms-input-placeholder,
.woocommerce .woocommerce-form-coupon input::-ms-input-placeholder,
.woocommerce .woocommerce-form-coupon select::-ms-input-placeholder,
.woocommerce .woocommerce-form-coupon textarea::-ms-input-placeholder {
  color: #8b8b8b;
  font-family: "Poppins", sans-serif;
}

.woocommerce .woocommerce-checkout input::placeholder,
.woocommerce .woocommerce-checkout select::placeholder,
.woocommerce .woocommerce-checkout textarea::placeholder,
.woocommerce .woocommerce-form-coupon input::placeholder,
.woocommerce .woocommerce-form-coupon select::placeholder,
.woocommerce .woocommerce-form-coupon textarea::placeholder {
  color: #8b8b8b;
  font-family: "Poppins", sans-serif;
}

.woocommerce .woocommerce-checkout input:focus,
.woocommerce .woocommerce-checkout select:focus,
.woocommerce .woocommerce-checkout textarea:focus,
.woocommerce .woocommerce-form-coupon input:focus,
.woocommerce .woocommerce-form-coupon select:focus,
.woocommerce .woocommerce-form-coupon textarea:focus {
  border: 1px solid #ff928a;
}

.woocommerce .woocommerce-checkout .select2-container .select2-selection--single,
.woocommerce .woocommerce-form-coupon .select2-container .select2-selection--single {
  height: 3.6rem;
  padding-top: 0.3rem;
}

.woocommerce .woocommerce-checkout .select2-container,
.woocommerce .woocommerce-checkout p,
.woocommerce .woocommerce-form-coupon .select2-container,
.woocommerce .woocommerce-form-coupon p {
  font-size: 1.2rem;
}

.woocommerce .woocommerce-checkout .select2-selection__arrow b,
.woocommerce .woocommerce-form-coupon .select2-selection__arrow b {
  margin-top: 1px !important;
  border-color: #ff928a transparent transparent transparent !important;
}

.woocommerce .woocommerce-info {
  border-top-color: #ff928a;
}

.woocommerce .woocommerce-info::before {
  color: #ff928a;
}

.woocommerce form th {
  font-size: 1.6rem;
  background-color: #ff928a;
  color: #ffffff;
}

.woocommerce tbody td,
.woocommerce tbody th {
  font-size: 1.6rem;
}

.woocommerce tbody #coupon_code {
  width: 16rem;
  height: 3rem;
  -webkit-appearance: unset;
     -moz-appearance: unset;
          appearance: unset;
  padding-left: 1rem;
  border: 1px solid #171717;
}

.woocommerce tbody a {
  color: #171717;
  text-decoration: none;
}

.woocommerce tbody a:hover {
  text-decoration: underline;
}

.woocommerce .woocommerce-remove-coupon,
.woocommerce .woocommerce-privacy-policy-link {
  color: #ff928a;
}

.woocommerce .woocommerce-remove-coupon {
  margin-left: 0.2rem;
}

.woocommerce .woocommerce-privacy-policy-text p {
  font-size: 1.2rem;
}

.woocommerce #place_order {
  margin-top: 1rem !important;
}

.woocommerce .woocommerce table.shop_table tfoot td,
.woocommerce .woocommerce-Price-amount {
  font-size: 1.4rem !important;
}

.woocommerce-EditAccountForm fieldset {
  margin: 2rem 0;
}

.woocommerce img,
.wocommerce-page img {
  height: auto;
  max-width: 50% !important;
}

.woocommerce-Address-title {
  background-color: unset;
}

.woocommerce .col2-set {
  margin-top: 1rem;
}

.woocommerce-MyAccount-navigation ul {
  list-style-type: none;
  padding: unset;
}

.woocommerce-MyAccount-navigation a {
  color: #ff928a;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.6rem;
}

.woocommerce-MyAccount-navigation a:hover {
  text-decoration: underline;
}

.woocommerce-MyAccount-content {
  font-size: 1.2rem;
  margin-top: 3rem;
}

.woocommerce-MyAccount-content a {
  font-weight: 600;
  color: #ff928a;
}

.woocommerce form .form-row input.input-text {
  font-size: 1.2rem;
  padding-left: 1rem;
  height: 3.6rem;
  border-radius: 0.6rem;
  border: 1px solid #c5c5c5;
  outline: 0;
  font-family: "Poppins", sans-serif;
}

.woocommerce form .form-row label {
  font-size: 1.4rem;
}

.woocommerce form .form-row .show-password-input {
  top: 0.6rem;
  color: #ff928a;
  font-size: 1.7rem;
}

.woocommerce-LostPassword a {
  color: #ff928a;
}

@media screen and (max-width: 768px) {
  .woocommerce-Price-amount {
    font-size: 1.4rem;
  }
  .woocommerce tbody .coupon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .woocommerce tbody #coupon_code {
    height: 3.5rem;
  }
  .woocommerce tbody td,
  .woocommerce tbody th {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 768px) and (max-width: 475px) {
  table .cart td .actions .coupon .button {
    width: 1.6rem !important;
  }
  .section-index .shop_table {
    width: 100%;
  }
  .section-index .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .section-index .woocommerce form .form-row-last,
  .section-index .woocommerce form .form-row-first {
    width: 100%;
  }
  .section-index .woocommerce form .form-row {
    padding: unset;
  }
  .woocommerce form th {
    font-size: 1.4rem;
  }
  .woocommerce tbody .coupon {
    gap: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .woocommerce tbody .coupon button {
    width: 1.6rem;
  }
  .woocommerce tbody td,
  .woocommerce tbody th {
    font-size: 1.4rem;
  }
}

.main-single-product {
  padding: 5rem 0;
}

.main-single-product h1 {
  font-size: 2.6rem;
  line-height: 120%;
  text-transform: uppercase;
  font-weight: 300;
}

.main-single-product p {
  font-size: 1.6rem;
  text-align: left;
}

.main-single-product .product-price {
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.main-single-product h2 {
  text-transform: uppercase;
}

.main-single-product strong {
  font-size: 1.8rem;
}

.main-single-product ul {
  font-size: 1.6rem;
  padding-left: 3rem;
}

.section-products-related h2 {
  font-size: 2.4rem;
  text-align: center;
}

.product-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.product-detail p,
.product-detail strong {
  margin: unset;
  font-size: 1.4rem;
}

.product-detail button {
  margin-top: 1rem;
}

.product-detail h2 {
  font-size: 1.6rem;
  margin-top: 3rem;
}

.product-detail .quantity {
  display: none;
}

.product-detail .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.product-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.product-gallery .image-product-gallery-list {
  width: 15rem;
  height: 18rem;
}

.product-gallery .product-gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
}

.produto-gallery-main {
  width: 50rem;
}

.produto-gallery-main img {
  width: 100%;
}

.product-wraper {
  gap: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1000px) {
  .product-gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product-gallery .product-gallery-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .product-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .main-single-product .section-products-related {
    padding: unset;
  }
  .main-single-product .section-products-related .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-single-product h1 {
    font-size: 2.8rem;
  }
  .main-single-product h2 {
    font-size: 2rem;
  }
  .container {
    padding-left: unset;
    padding-right: unset;
  }
  .produto-gallery-main {
    width: 100%;
  }
  .product-gallery-list {
    width: 100%;
  }
  .image-product-gallery-list:last-of-type {
    display: none;
  }
  .product-gallery .image-product-gallery-list {
    width: 100%;
    height: 14rem;
  }
}

.woocommerce .form .login label {
  font-size: 1.4rem;
}

.woocommerce .form .login textarea {
  resize: none !important;
  padding-top: 0.6rem;
  height: 6rem !important;
}

.woocommerce .form .login input,
.woocommerce .form .login select,
.woocommerce .form .login textarea {
  font-size: 1.2rem;
  padding-left: 1rem;
  height: 3.6rem;
  border-radius: 0.6rem;
  border: 1px solid #c5c5c5;
  outline: 0;
  font-family: "Poppins", sans-serif;
}

.woocommerce .form .login input::-webkit-input-placeholder,
.woocommerce .form .login select::-webkit-input-placeholder,
.woocommerce .form .login textarea::-webkit-input-placeholder {
  color: #8b8b8b;
  font-family: "Poppins", sans-serif;
}

.woocommerce .form .login input:-ms-input-placeholder,
.woocommerce .form .login select:-ms-input-placeholder,
.woocommerce .form .login textarea:-ms-input-placeholder {
  color: #8b8b8b;
  font-family: "Poppins", sans-serif;
}

.woocommerce .form .login input::-ms-input-placeholder,
.woocommerce .form .login select::-ms-input-placeholder,
.woocommerce .form .login textarea::-ms-input-placeholder {
  color: #8b8b8b;
  font-family: "Poppins", sans-serif;
}

.woocommerce .form .login input::placeholder,
.woocommerce .form .login select::placeholder,
.woocommerce .form .login textarea::placeholder {
  color: #8b8b8b;
  font-family: "Poppins", sans-serif;
}

.woocommerce .form .login input:focus,
.woocommerce .form .login select:focus,
.woocommerce .form .login textarea:focus {
  border: 1px solid #ff928a;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
nav {
  margin: unset;
}

.section-index {
  padding: 5rem 0;
}

.section-index h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.section-index h2 {
  font-size: 2.4rem;
}

.container {
  padding-left: 8rem;
  padding-right: 8rem;
  margin-right: auto;
  margin-left: auto;
}

.breadcrumb {
  font-size: 1.2rem;
}

.breadcrumb a {
  color: #171717;
}

.breadcrumb a:hover {
  color: #ff928a;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper .swiper-scrollbar {
  display: none;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  background-color: #f9c5c5;
  border-radius: 50%;
  padding: 1rem;
  font-size: 1rem;
  --swiper-theme-color: #ffffff;
  height: 3rem;
  width: 3rem;
  --swiper-navigation-size: 20px;
}

.swiper .swiper-button-prev:hover,
.swiper .swiper-button-next:hover {
  background-color: #ff928a;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.swiper .swiper-pagination-bullet {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.swiper .swiper-pagination-bullet:hover {
  background-color: #ff928a;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.swiper .swiper-pagination-bullet-active {
  background-color: #f9c5c5;
}

@media screen and (max-width: 1000px) {
  .container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (max-width: 475px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .container.--singleProduct {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */