@import "_home.scss";
@import "_header.scss";
@import "_footer.scss";
@import "_btn.scss";
@import "_products.scss";
@import "_cart.scss";
@import "_single-product.scss";
@import "_account.scss";

html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
nav {
  margin: unset;
}
.section-index {
  padding: 5rem 0;
  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  h2 {
    font-size: 2.4rem;
  }
}
.container {
  padding-left: 8rem;
  padding-right: 8rem;
  margin-right: auto;
  margin-left: auto;
}
.breadcrumb {
  font-size: 1.2rem;
  a {
    color: #171717;
    &:hover {
      color: #ff928a;
    }
  }
}
.swiper {
  width: 100%;
  height: 100%;
  .swiper-scrollbar {
    display: none;
  }
  .swiper-button-prev,
  .swiper-button-next {
    background-color: #f9c5c5;
    border-radius: 50%;
    padding: 1rem;
    font-size: 1rem;
    --swiper-theme-color: #ffffff;
    height: 3rem;
    width: 3rem;
    --swiper-navigation-size: 20px;
    &:hover {
      background-color: #ff928a;
      transition: 0.2s;
    }
  }
  .swiper-pagination-bullet {
    filter: brightness(100%);
    &:hover {
      background-color: #ff928a;
      transition: 0.2s;
    }
  }
  .swiper-pagination-bullet-active {
    background-color: #f9c5c5;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (max-width: 475px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
    &.--singleProduct {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
}
